<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>

<!-- Footer -->
<div th:fragment="footer" class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0 fs-5">
                    © 2025 DAM DANEL · All rights reserved
                </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">
                    <i class="bi bi-book-half me-2"></i>
                    Tarea evaluativa UD05 - Acceso a Datos
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>